<div class="agence-container" *ngIf="agence.length > 0">
    <div class="agence-card" *ngFor="let ag of agence">
      <h2>{{ ag.nom }}</h2>
      <p><strong>Adresse:</strong> {{ ag.adresse }}</p>
      <p><strong>Téléphone:</strong> {{ ag.telephone }}</p>
      
      <a data-toggle="modal" data-target="#exampleModal"><p><strong>Chauffeurs:</strong> {{ ag.chauffeurs.length }}</p></a>
      <p><strong>Véhicules:</strong> {{ ag.vehicules.length }}</p>
    </div>
  </div>
  <div class="no-agence" *ngIf="agence.length === 0">
    <p>No agences available.</p>
  </div>
  





 

  

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">liste Voiture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>