<div class="container mt-5">
  <h2>Add a New Car</h2>
  <form (ngSubmit)="onSubmit()" #carForm="ngForm">
    <div class="form-group">
      <label for="modele">Model</label>
      <input type="text" class="form-control" id="modele" required [(ngModel)]="car.modele" name="modele" #modele="ngModel">
    </div>

    <div class="form-group">
      <label for="year">Year</label>
      <input type="number" class="form-control" id="year" required [(ngModel)]="car.years" name="year" #year="ngModel">
    </div>
    <div class="form-group">
      <label for="nbPlace">Number of Seats</label>
      <input type="number" class="form-control" id="nbPlace" required [(ngModel)]="car.nbPlace" name="nbPlace" #nbPlace="ngModel">
    </div>

    <div class="form-group">
      <label for="nbPlace">matriculate</label>
      <input type="number" class="form-control" id="immatriculation" required [(ngModel)]="car.immatriculation" name="immatriculation" #nbPlace="ngModel">
    </div>



    <div class="form-group">
      <label for="typecar">Type de véhicule</label>
      <select class="form-control" id="typecar" [(ngModel)]="typecar" (change)="onSelectChange($event)">
        <option value="Voiture">Voiture</option>
        <option value="Bus">Bus</option>
      </select>
    </div>

    <div class="form-group">
      <label for="consommation">Fuel Efficiency</label>
      <input type="text" class="form-control" id="consommation" required [(ngModel)]="car.consomation" name="consommation" #consommation="ngModel">
    </div>
    <div class="form-group">
      <label for="tronsmition">Transmission</label>
      <input type="text" class="form-control" id="tronsmition" required [(ngModel)]="car.tronsmition" name="tronsmition" #tronsmition="ngModel">
    </div>
    <div class="form-group">
      <label for="prixParJour">Price per Day</label>
      <input type="number" class="form-control" id="prixParJour" required [(ngModel)]="car.prixParJour" name="prixParJour" #prixParJour="ngModel">
    </div>
    <div class="form-group">
      <label>Car Image</label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" required />
    </div>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="!carForm.form.valid">Add Car</button>
  </form>
</div>
